{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        
        <h1 class="display-1 text-center">Crud con Django</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nulla rerum? Possimus ab tempore illo, odio quis unde, veritatis aspernatur nam quidem architecto voluptates adipisci. Voluptatum itaque aliquam aperiam quasi illum praesentium consequatur cupiditate velit sunt doloribus culpa, fuga, quaerat atque facilis ex reiciendis, inventore corrupti eligendi fugit iste maxime. Quidem, doloribus quibusdam autem esse libero corrupti quaerat, voluptatem labore quis sed, culpa dolore illo. Accusantium ut distinctio maiores minus explicabo esse aperiam voluptatum cum consequatur vel, nostrum et inventore eius optio asperiores non quisquam fuga id provident amet! Eaque praesentium temporibus vel sequi ratione quisquam minus repellendus asperiores aliquid?
        </p>
        <div class = "text-center">
            <a class = "btn btn-dark" href = "/signin/">
                Signin
            </a>
            <a class = "btn btn-dark" href = "/signup/">
                Signup
            </a>
        </div>
    </section>
</main>





{% endblock %}